/*Font*/
@font-face {
  font-family: Joan;
  src: url(Joan-Regular.ttf);
}

body {
	color: white;
	font-family: Joan
}

/*div, p{
	margin-block-start: 0;
    margin-block-end: 0;
}*/

/*the first section (with the quote)*/

header {
	height: 100vh;
	background-image: url(DB-Header.jpg);
	background-size: cover;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: center;
	position: relative;

	font-family: spirax;
	font-style: italic;
	font-size: 25px;
}

h1 {
	margin-right: 100px;
}
header div {
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	display: flex;
	width: 100%;
	justify-content: center;
}
/*part about "Bowie's Personas*/
/*in order to position the text and the nav-link, set position: relative of the container first*/
article {
	height: 100vh;
	background-image: url(DB-Which4.jpg);
	background-color: #010101;
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-position: left center;
	display: flex;
	flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}

.empty {
	position: absolute;
	bottom: 20px;
	margin: 0 auto;
	display: flex;
	width: 100%;
	justify-content: center;
}

div p {
	font-size: 20px;
	-webkit-text-stroke: 0.4px black;
	/*font-family: Joan;*/
}

article div {
	width: 50%;
}
/*last part with albums. Once again, first -> position: relative of the container
2nd -> text and album covers*/
footer {
	/*border: 2px solid white;*/
	background-color: #010101;
	height: 100%;
	min-width: 0;
	padding-top: 200px;
	padding-left: 20px;
	display: flex;
	flex-direction: row;
	position: relative;
}

.links img {
	width: 230px;
	height: 230px;
	border: 1px outset whitesmoke;
	opacity: 0.7;
}

/*want the album covers to be displayed in 2 rows of 3
and shrink when the screen gets smaller*/
.albums {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
/*	flex-basis: 40%;*/
	gap: 20px 20px;
	align-content: flex-start;
	align-items: center;
	margin-left: 25px;
	width: 50%;
	height: 100%;

}

.content {
	/*border: 2px solid green;*//*just for ease of identifying with dev. tools*/
	display: flex;
	flex-wrap: wrap;
	align-content: stretch;
	justify-content: flex-start;
	align-items: stretch;
	margin-right: 25px;
	width: 45%;
	height: 100%
}

div a {
	height: 230px;
}

/*making links a bit interacive*/
.links img:hover {
	opacity: 1;
}

/*nav buttons and interactivness*/
.button {
	margin-left: 30px;
	margin-top: 60px;
}

.jump {
	font-size: 20px;
	padding: 0px, 0px;
	height: 25px;
	width: 50px;
	color: #ffffff;
	text-transform: Capitalize;
	text-decoration: none;
	background: #363636;
	padding: 20px;
	border-radius: 5px;
	display: inline-block;
	border: none;
	transition: all 0.4s ease 0s;
	opacity: 0.7;
}

.jump:hover {
	background: #434343;
	letter-spacing: 1px;
	-webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	-moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
	box-shadow: 5px 40px -10px rgba(0,0,0,0.90);
	transition: all 0.4s ease 0s;
	opacity: 1;
}
/*link to my reference list*/
.biblio {
	text-decoration: none;
	color: lightslategrey;
}

.biblio:hover {
	text-decoration: underline;
}
/*Tooltip for the album covers*/
.tooltip {
  position: relative;
  /*display: inline-block;
  border-bottom: 1px dotted black;*/
}

.tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #434343;
  color: white;
  opacity: 0.7;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -55px;
  right: 25%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}