* {
	font-family: "Times New Roman";
	font-size: 18px;
}

header {
	font-size: 22px;
	font-weight: bold;
}

.mini-heading{
	font-size: 20px;
	font-weight: bold;
}



/*1st Page*/
hr {
	height: 2px;
	color: lightgray;
	background-color: lightgray;
}
/*highlights in about section*/
#bold {
	font-weight: bold;
}
#yellow {
	background-color: yellow;
}